:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.homePageBackground {
  background-image: url("/images/anime-moon-landscape_23-2151645871.avif");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.top10Grid {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  background-color: transparent;
}

.top10Title {
  padding: auto;
  text-align: center;
  color: white;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.searched-Anime {
  max-width: 400px;
  max-height: 250px;
  margin: auto;
  margin-top: 30px;
}

.searched-img {
  margin-top: 10px;
  margin-left: 10px;
}

.card-body {
  margin-left: 10px;
  color: #ffffff !important;
}

.card {
  height: 410px !important;
  background-color: darkblue !important;
}

.card-body {
  padding: 10px !important;
}

.add-Btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
