:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.homePageBackground {
  background-color: #0a0a0a;
}

.top10Grid {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  background-color: black;
}

.top10Title {
  padding: auto;
  text-align: center;
  color: white;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card {
  height: 410px !important;
  background-color: dodgerblue !important;
}

.card-body {
  padding: 10px !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
